body {
    display: flex;
    flex-direction: column;

}

main {
    flex: auto;
    background-color: green;
    flex-direction: row;
    display: flex
    flex: auto
    display: flex;
}
article {
    flex: 2;
    overflow-y: auto;
}
aside {
    flex: 1;
    overflow-y: auto;
}
