body {
    display: flex;
    flex-direction: column;

}

main {
    flex: auto;
    background-color: green;
    flex-direction: row;
    display: flex
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: red;
    border: 2px solid blue;

}